{% extends "base/content_base.html" %}

{% block content_base %}

        <h4>Contact</h4>
        <br>
        {{form.hidden_tag()}}
		<div class="form-inline row">
		 <div class="form-group col-sm-6">
		{{ form.firstName(class="form-control", placeholder="First Name", **{'data-validation':'required'}) }}
		 </div>
		 <div class="form-group col-sm-6">
		{{ form.lastName(class="form-control", placeholder="Last Name", **{'data-validation':'required'}) }}
		 </div>
		</div>
		<br />
		<div class="from-group">
		 <div class="input-group">
		  <div class="input-group-addon">@</div>
		{{ form.email(class="form-control", placeholder="Enter email", **{'data-validation':'email'}) }}
		 </div>
		</div>
		<br />
		<div class="form-group">
		{{ form.subject(class="form-control", placeholder="Subject", **{'data-validation':'required'}) }}
		</div>
		<div class="form-group">
		{{ form.message(class="form-control", placeholder="What's on your mind?", **{'data-validation':'required'}) }}
		</div>
		<div class="form-inline row">
			<div class="form-group col-sm-6 col-sm-offset-6">
		{{ form.submit(class="btn btn-default btn-block") }}
			</div>
		</div>
</form>
			</div><!-- ./col-md-6 -->
		</div><!-- ./ row -->
	{% endif %}
</div><!-- ./ contact -->

{% if error %}
    <p class="error"><strong>Error: </strong>{{error}}</p>
{% endif %}
    <br>
{% endblock %}
