{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base/content_base.html" %}

{% block nav_right %}

  {% if session.logged_in %}
    <li class="active"><a href="/">Home</a></li>
    <li data-toggle="modal" data-target="#features"><a href="#features">Features</a></li>
    <li><a href="mailto:mauro@psu.edu?Subject=SKTimeline%20Contact">Contact</a></li>
    <li><a href="/dashboard/">Dashboard</a></li>
    <li><a href="/logout/">Logout</a></li>
  {% else %}
    <li class="active"><a href="/">Home</a></li>
    <li data-toggle="modal" data-target="#features"><a href="#features">Features</a></li>
    <li><a href="mailto:mauro@psu.edu?Subject=SKTimeline%20Contact">Contact</a></li>
    <li><a href="/login/">Login</a></li>
  {% endif %}

{% endblock %}

{% block content_base %}
<a href="https://github.com/aaronmauro">
  <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png">
</a>

<div class="jumbotron text-center" style="background-color:transparent;">
    <h1>Social Knowledge Timeline</h1>
    <p class="lead">The missing link for teams working with collaboration platforms, social media, and version control.</p>
    <p><a href="{% if session.logged_in %}/dashboard/{% else %}/register/{% endif %}" class="btn btn-lg btn-default" role="button">Learn more</a></p>
</div>


<!-- Contact Modal -->
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact</h4>
            </div>
            <div class="modal-body">
                <!-- Contact Form -->


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Contact Model END -->

<!-- Features Modal -->
<div class="modal fade" id="features" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Slack, Twitter, and GitHub... Together at last!</h4>
            </div>
            <div class="modal-body">
                &nbsp; &nbsp;
                <!-- Slack Description -->
                <div class="row">
                    <div class="col-md-2">
                        <img align="left" class="logos" src="{{ url_for('static', filename='media/slack.png')}}" alt="Slack Logo" class="img-rounded">
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <p class="lead" class="modalText">Using Slack to organize teams is great! Wouldn't it be great to have a way to integrate these organic conversations into the history of your project? Use your team chatter to understand the chemistry responsible for your insights
                            and innovations!</p>
                    </div>
                </div>
                &nbsp; &nbsp;
                <!-- Github Description -->
                <div class="row">
                    <div class="col-md-2">
                        <img align="left" class="logos" src="{{ url_for('static', filename='media/octocat.png')}}" alt="Github Logo" class="img-rounded">
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <p class="lead" class="modalText">Github is one of the most common ways to maintain version control in large fast moving teams. Git commit tags can become more than just a quick note. Commits become part of your development narrative. It's a story told each and
                            every step of the way!</p>
                    </div>
                </div>
                &nbsp; &nbsp;
                <!-- Twitter Description -->
                <div class="row">
                    <div class="col-md-2">
                        <img align="left" class="logos" src="{{ url_for('static', filename='media/twitter.png')}}" alt="Twitter Logo" class="img-rounded">
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <p class="lead" class="modalText">Twitter does a lot of things. It can tell the world what you had for lunch, or it can inform your teams of trends and issues happening right now! Link hashtags and user handles directly into your development timeline. </p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Model END -->
{% endblock %}
