{% extends "base/content_base.html" %}

{% block content_base %}
<div class="row">
    <div class="col-xs-12 col-md-6">

        <h2>Registration</h2>
        {% if error %}
        <p class="error"><strong>Error: </strong>{{error}}</p>
        {% endif %}

        <form class="form" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{wtf.form_field(form.username)}}
            {{wtf.form_field(form.email)}}
            {{wtf.form_field(form.password)}}
            {{wtf.form_field(form.confirm)}}

            <!-- todo: this needs validation error message, if submitting and not checked it give no notice -->
            {{wtf.form_field(form.accept_tos)}}

            <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-default">Register</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
