{% extends "base/content_base.html" %}
{% block content_base %}

<div class="row">
  <div class="col-md-6">

    <form method=post>
          {{ wtf.form_errors(form, hiddens="only") }}
          {{wtf.form_field(form.team)}}
          {{wtf.form_field(form.channel)}}

        <div class="form-group">
          {% if edit %}
            <input class="btn btn-default" type=submit value="Update">
            <input class="btn btn-danger" type=submit name="delete" value="Delete">
          {% else %}
            <input class="btn btn-default" type=submit value="Add">
          {% endif %}
        </div>
    </form>
  </div>

</div>
{% endblock %}
