{% extends "base/content_base.html" %}

{% block nav_right %}
  <li><a href="/">Home</a></li>
  <li class=active><a href="/dashboard/">Dashboard</a></li>
  <li><a href="/logout/">Logout</a></li>
{% endblock %}

{% block styles %}
{{super()}}
<link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
{% endblock %}

{% block footer_scripts %}
<script>
jQuery(document).ready(function(){

  var twitter_events = {{twitter_feed_items|safe}};
  var github_events = {{github_feed_items|safe}}
  // todo: want to generate a template for github items and renter using _.template 

  var div_id = 'timeline';
  var options = {
    events: [].concat(twitter_events,github_events)
  };

  window.timeline = new TL.Timeline(div_id, options);
})
</script>
{% endblock %}

{% block content_base %}

<div class="row">
  <div class="col-xl-12">
    <div id="timeline" style="width: 100%; height: 600px"></div>

  </div>

</div>
{% endblock %}
